// sass for extJS_Test_Task.view.home.HomeView
// .x-listitem.x-gridcell-zero-value,
// .x-grid-cell-zero-value { 
//   background: #FF0000 !important;
//   color: #FFFF00 !important
// }

.x-gridcell-zero-value .x-gridcell-body-el {
    background: #FF0000 !important;
    color: yellow !important;
}

.x-gridcell-zero-value {
    background: #FF0000 !important;
    color: yellow !important;
}